Repository rasmus234/diary-log: changes, and which Jenkins stages are due for each by the changed paths.
All: Build API, Build frontend

Jenkinsfile:

pipeline{
    agent any
    stages{
        stage("Build API") {
            when {
                anyOf {
                    changeset "DiaryLog/**"
                }
            }
            steps{
                dir("DiaryLog") {
                    sh "dotnet build --configuration Release"
                    sh "docker-compose build api"
                }
            }
        }
        stage("Build frontend") {
            when {
                changeset "diary-log-angular/**"
            }
            steps {
                dir("diary-log-angular") {
                    sh "docker-compose build web"
                }
            }
        }
        stage("Unit Tests") {
            steps {
                echo "Here we'll run unit tests later"
            }
        }
        stage("Clean containers") {
            steps {
                script {
                    try {
                        sh "docker-compose down"
                    }
                    finally { }
                }
            }
        }
        stage("Deploy") {
            steps {
                sh "docker-compose up -d"
            }
        }
    }
}

ss
  docker-compose.yml
Due: none

s
  Jenkinsfile
Due: none

discord
  Jenkinsfile
Due: none

tests
  Jenkinsfile
Due: none

db
  docker-compose.yml
Due: none

asd
  docker-compose.yml
Due: none

s
  docker-compose.yml
Due: none

Refactor minor things
  diary-log-angular/src/app/app.component.ts
  diary-log-angular/src/app/main/main.component.html
  diary-log-angular/src/app/main/main.component.ts
  diary-log-angular/src/app/posts.service.ts
Due: Build frontend

Refactor minor things
  diary-log-angular/src/app/app.component.ts
  diary-log-angular/src/app/main/main.component.html
  diary-log-angular/src/app/main/main.component.ts
  diary-log-angular/src/app/post/post.component.ts
  diary-log-angular/src/app/posts.service.ts
Due: Build frontend

Refactor minor things
  diary-log-angular/src/app/login/login.component.ts
Due: Build frontend

Fix front end Dockerfile
  diary-log-angular/.htaccess
  diary-log-angular/Dockerfile
  diary-log-angular/src/app/app.module.ts
Due: Build frontend

Fix front end Dockerfile
  diary-log-angular/Dockerfile
Due: Build frontend

Fix front end Dockerfile
  Jenkinsfile
Due: none

Fix front end Dockerfile
  diary-log-angular/src/app/_services/auth.service.ts
Due: Build frontend

Fix Jenkinsfile
  Jenkinsfile
Due: none

Fix front end Dockerfile
  Jenkinsfile
  diary-log-angular/src/app/_services/auth.service.ts
Due: Build frontend

Change connection string
  DiaryLog/DiaryLogApi/Controllers/AuthenticationController.cs
  DiaryLog/DiaryLogApiTests/UnitTest1.cs
  DiaryLog/DiaryLogDomain/DiaryLogContext.cs
  diary-log-angular/src/app/_services/auth.service.ts
  diary-log-angular/src/app/login/login.component.ts
Due: Build API, Build frontend

Fix connection string
  DiaryLog/DiaryLogDomain/DiaryLogContext.cs
Due: Build API

Fix authentication
  DiaryLog/DiaryLogApi/Controllers/AuthenticationController.cs
  DiaryLog/DiaryLogApi/Program.cs
  diary-log-angular/src/app/_services/auth.service.ts
Due: Build API, Build frontend

Fix docker order
  docker-compose.yml
Due: none

Add logout
  DiaryLog/DiaryLogApi/Controllers/PostsController.cs
  DiaryLog/DiaryLogDomain/DiaryLogContext.cs
  diary-log-angular/package-lock.json
  diary-log-angular/package.json
  diary-log-angular/src/app/_services/auth.service.ts
  diary-log-angular/src/app/app.component.ts
  diary-log-angular/src/app/app.module.ts
  diary-log-angular/src/app/login/login.component.ts
  diary-log-angular/src/app/main/main.component.css
  diary-log-angular/src/app/main/main.component.html
  diary-log-angular/src/app/main/main.component.ts
  diary-log-angular/src/app/posts.service.ts
Due: Build API, Build frontend

Add Portainer
  docker-compose.yml
  docker-compose.yml.bak
Due: none

Add Portainer
  docker-compose.yml
Due: none

Merge docker-compose files
  Jenkinsfile
  docker-compose.yml
  docker-compose.yml.bak
Due: none

Fix docker-compose
  Jenkinsfile
  docker-compose.yml
Due: none

Add test variables
  DiaryLog/DiaryLogApi/Controllers/CategoriesController.cs
  diary-log-angular/src/app/app.component.ts
Due: Build API, Build frontend

coverage report
  Jenkinsfile
Due: none

remove test reports
  Jenkinsfile
Due: none

add env variables
  DiaryLog/DiaryLogDomain/DiaryLogContext.cs
  Jenkinsfile
  Jenkinsfile.Prod
  config/test.env
  docker-compose.yml
Due: Build API

Fix Jenkinsfile
  Jenkinsfile
  config/test.env
Due: none
